
* {
    box-sizing: border-box;
    margin: 0;
}

header {
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: darkblue;
    height: 120px;
    color: #F4F3EE;
    font-size: 200%;
    line-height: 120px;
    z-index: 1;
}


header div {
    min-width: 600px;
}

section {
    padding-top: 50px;
    width: 80%;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    top: 200px;
    height: 500px;
    min-width: 1000px;
}


#colors div {
    display: inline-block;
    width: 20%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
    margin-left: 10%;
    border: 1px solid black;
}


div p {
    font-weight: bold;
}

h2 {
    text-align: center;
    position: relative;
    top: -30px;
    font-size: 200%;
}

/* Color Palette */

div h3 {
    position: relative;
    top: 60%;
    text-align: center;
}

/* Colors */

#darklava {
    background-color: #463F3A;
    color: white;
}

#middlegray {
    background-color: #8A817C;
}

#palesilver {
    background-color: #BCB8B1;
}

#dirtysnow {
    background-color: #F4F3EE;
}

#lightmelon {
    background-color: #E0AFA0;
}


/* Fonts */

.fontSample {
    text-align: left;
    margin-left: 2em;
    font-size: 150%;
    text-decoration: underline;
}

/* Font section */

.floatleft {
    float: left;
}

#fonts {
    height: 1000px;
}

article {
    text-align: left;
    margin-left: 2em;
    position: relative;
    top: 20px;
    margin-bottom: 150px;
    width: 45%;
    margin-right: -1%;
    
}

article h2 {
    text-align: left;
    margin-left: 2em;
    font-size: 300%;
    text-decoration: underline;
}

article p {
    line-height: 50px;
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* font One */
#font1 {
    font-family: 'Staatliches', cursive;
}

/* Font Two */
#font2, #font2 h2 {
    font-family: 'Yanone Kaffeesatz';
    text-align: right;
}